[2015-04-13 00:16] Timeslice42 opened #1 "Missing documentation"
Would you please put a link to the post containing the documentation for this addon into the README.md file?

[2015-04-13 00:41] Dream-Master commented on #1
Yes I will do tomorrow. When you go to the Minetweaker  page from Stan go to the wiki and than to Gregtech. There you find all information because I edit this page and add my code there.

[2015-04-13 01:25] Timeslice42 commented on #1
Thank you.

[2015-04-13 07:43] Dream-Master commented on #1
The other machines I not add like the arc furnace will follow soon.

[2015-04-13 07:47] Dream-Master commented on #1
Btw I collecting minetweaker scripts. Look at my repository lets Greg other mods if you like.

[2015-04-13 18:40] Dream-Master commented on #1
So Wiki is done. Check it out and say to me if this is enough.
https://github.com/Dream-Master/Minetweaker-Gregtech-5-Addon/wiki

[2015-04-14 00:20] Timeslice42 commented on #1
Looks good to me. I only see one consistency/typo error: on the distillery it should probably read "(true = Recipe are hidden)" to be consistent with the phrasing on the other methods that can hide recipes.

I do have a question about the BBF. If the output liquid is always null, then why expose that parameter at all? Why not just have null passed internally?

[2015-04-23 19:59] Dream-Master commented on #1
I look inside this

[2015-06-22 22:03] SilverScreamBr opened #2 "crash with Thaumcraft"
http://paste.ee/p/ujhmW

Stack overflow after instal GTTweaker 0.7.2.

[2015-06-22 22:15] Dream-Master commented on #2
@SilverScreamBr A little bit more information i could need because my mod dindt touch any Thaumcraft stuff.

I need Mod Versions you using, Scripts, logs from Minetweaker and Forge logs.

[2015-06-22 23:44] SilverScreamBr commented on #2
Thaumcraft{4.2.3.5}
crashlog:http://paste.ee/p/ujhmW
mineTweaker : no log
forger: too loger 8mb
crash on statup.
scripts:
[code]

[2015-06-23 08:17] Dream-Master commented on #2
So far i can see you are using a too new Forge Version.
Try to using Forge 10.13.3.1420 and Minetweaker 3.0.9c.
The Script you sen me is normal minetweaker code.
The Minetweaker log is in the main folder. If you dont have any log the game is not running.
When does it crash when the game is starting?
I think most of the mods are not Forge 10.13.4XXX compatible.
If the Error happend when you changin

[2015-06-23 14:11] SilverScreamBr commented on #2
im send logs for email.

[2015-06-23 15:08] SilverScreamBr commented on #2
im close this issue because this crash is a random crash

[2015-06-23 15:08] #2 closed

[2015-06-23 15:22] Dream-Master commented on #2
As I said downgrade forge and the mod that required newer forge and the error is gone. Many mods not supporting newer forge version.

[2015-07-19 22:17] Timeslice42 commented on #1
Did you ever get a chance to look at the BBF?

[2015-07-19 22:35] Dream-Master commented on #1
I don't know how I can fix it. My coding knowledge isn't that big. Will asking the coder in my team.

[2015-08-02 21:53] Dream-Master commented on #1
@Timeslice42
So finaly fix it with the Blast Furnace.
Version 0.7.5 is up to date but it need Gregtech 5.08.26 to work right.

[2015-08-02 21:53] #1 closed

[2015-08-03 05:51] Timeslice42 commented on #1
Thanks. :)

[2015-12-12 18:08] JasonMcRay opened #3 "Adding Printer recipes not working"
I recently started to add GT guide books into my modpack and I wanted to make a recipe for them being made inside Printer. Unfortunately the recipes are not added. I also tried the example recipe line on the wiki
(mods.gregtech.Printer.addRecipe(<minecraft:writable_book>, <minecraft:book>, <minecraft:feather>, <liquid:squidink>, 25, 15);
 that doesnt work as well...

using GTTWeaker 1.0.9
minetwea

[2015-12-12 18:40] JasonMcRay commented on #3
Started to work after couple of client restarts... Not sure where the problem was :)

[2015-12-12 19:49] Dream-Master commented on #3
Not sure if NBT Data works because we have the issue before with some Forestry logs too (Old Forestry 3.6) using only nbt data.
Will look inside it.

[2015-12-12 20:49] Dream-Master commented on #3
I try this recipes with nbt data too and it shows up in Nei and works well.

(It is a nonsen recipes make a enchanted sword out of a sword and enchating bottles.)

Printer.addRecipe(<minecraft:iron_sword>.withTag({ench: [{lvl: 1 as short, id: 16 as short}]}), <minecraft:iron_sword>, <minecraft:experience_bottle> * 6, <liquid:squidink>, 32, 100);

I guess it not working because of GT using Paper al

[2015-12-12 21:09] JasonMcRay commented on #3
Changed paper to dirt to test it. It started to work but without needing to put the Charcoal Pit Igniter block into "stick" slot.

If thats the case that I can't use random item in "dataStick" slot and can't use same item input for all the books, then its a problem... because I am going to have multiple guide books (for every Multiblock machine in GT), where each is crafted in the Printer in the s

[2015-12-12 21:36] Dream-Master commented on #3
I think the data slot stick is not to be used in the process. This is something inside the GT api i guess and not sure i can add there anything. Why not making a Data stick with Charcoal Pit(NBT Tag) in the Assembler and adding it to a Book with the Datastick and papers?

In the Code the Printer recipes looks like this

public boolean addPrinterRecipe(ItemStack aInput, FluidStack aFluid, ItemStack

[2015-12-12 21:51] Dream-Master commented on #3
I check now how to add something to the gt Code make the Printer slot to a normal input slot.

[2015-12-12 21:52] JasonMcRay commented on #3
Well Data Stick is but further down in progression so can't really use that. I also want the Controller block to not be used in crafting. So if there is no ways to make that work with Printer, I guess I will go and use the Assembler for this (Paper + controller (not consumed) + glue = guide book)

[2015-12-12 22:08] Dream-Master commented on #3
I try to add now a few lines of code to gt to make it working.

[2015-12-12 22:08] JasonMcRay commented on #3
That would be awesome... Thanks :)

[2015-12-12 22:22] Dream-Master commented on #3
Sorry not got it to work atm because my java knowledge isn't that big. Maybe have to ask Blood Asp.
I can say you the line where you can add recipes by your self. Most of the recipes i using in my Pack i added by code directly into GT.
Are you having knowledge about java ?

[2015-12-12 23:22] JasonMcRay commented on #3
I talked to Blood just few minutes ago. He said that the Printer recipes are hardcoded. So i guess I will stick with Assembler recipe then :)

Thanks a lot for trying, much appreciated

[2015-12-12 23:22] #3 closed

[2015-12-12 23:43] Dream-Master commented on #3
np

[2016-02-08 21:31] leagris opened #4 "Pulverizer not accepting ore dictionary ingredient"
[code]
Cause error
[code]

I think here you need to iterate the oreDictionary for each itemStack.
This would work in pure Zenscript
[code]
That you could do internally for machines requesting an IItemStack as input.

[2016-02-08 21:53] leagris commented on #4
Same issue with Pyrolyse Oven. Casting does not work and it is not happy with multiple item entries in ore-dictionary logWood.

[2016-02-08 22:30] Dream-Master commented on #4
yes need to fixe it.

[2016-02-09 20:53] leagris commented on #4
Well, it is not allowed to output an ingredient or an ore dictionary entry.
Output must be an IItemStack
       private final IIngredient output;

[2016-02-09 22:44] Dream-Master commented on #4
sure you right. Have to fix it tomorrow.

[2016-02-09 23:08] Dream-Master commented on #4
Dont like when things not working.

@leagris

Try this version please.

[2016-02-10 00:14] Techlone commented on #4
It not will be works correctly because `getItemStack` ([link](https://github.com/stanhebben/MineTweaker3/blob/master/MineTweaker3-MC1710-Main/src/main/java/minetweaker/api/minecraft/MineTweakerMC.java#L92)) returns a zero indexed items.
You need to iterate by the each input in the each machine class... a big and routine work. Maybe some wrapper or something else can helps. I don't have an idea how

[2016-02-10 00:30] leagris opened #5 "Pyroluse?"
Isn't it Pyrol**y**se instead?

Maybe you should fix this name everywhere including source file name package name and method name-space before this get wide-spread.

[2016-02-10 04:19] leagris commented on #4
You should take a look at this example iterating IItemStack list from IIngredient in AddRecipeAction
http://www.programcreek.com/java-api-examples/index.php?source_dir=ModularArmour-master/src/main/java/chbachman/armour/register/MineTweaker.java

Well, since these are lists, you could use Iterators instead of for loop.
You also need to imbricate as much loop/iteration as there are input IIngredien

[2016-02-10 11:32] Dream-Master commented on #4
Maybe you can help me or push some code changes if you want. I am not a Java expert so need help here.

[2016-02-10 11:36] Techlone commented on #4
ASAP
Now I'm trying to realize another idea for GTTweaker. Pull request is coming soon.

[2016-02-10 11:38] #5 closed

[2016-02-10 11:40] Dream-Master commented on #4
Thanks.

[2016-02-15 19:45] Dream-Master commented on #4
@Techlone
Any new here ?

[2016-02-15 21:22] Techlone commented on #4
@Dream-Master
I relaxed on the weekend. I'll be back soon.

[2016-02-16 08:06] Dream-Master commented on #4
no rush ;)

[2016-02-20 09:37] Muramasa- opened #8 "Suggestion: Large Heat Exchange support?"
Is it possible to support the Large Heat Exchange in GT5E ?

I have dived into the GT code myself and there doesn't seem to be a method for it with the Recipe Adder. Does this mean it can't be supported?

Thanks, and sorry if this is already well known.

[2016-02-22 22:03] wujekbrezniew opened #9 "Question: Bronze Age machines."
Are scripts work with GT Bronze Age machines ?
If, not, Is it possible to add ?

[2016-02-22 23:32] Dream-Master commented on #9
No they not working and i havn't a clue how to add them. sorry.

[2016-03-05 21:28] Dream-Master commented on #8
I think i can do here much. Maybe fork gt code and change what you want to change.

[2016-03-05 21:29] Dream-Master commented on #4
@Techlone
Any news?

[2016-03-07 21:06] Dream-Master commented on #4
Try new Beta 1.4 Version and reporte here if any one find bugs.

[2016-03-08 09:59] Techlone commented on #9
@Dream-Master
No, it's not. GTTweaker add recipes to global recipe list for each machine type.
I think bronze machines take recipes of first tier (32< EU/tick) for itself. I not sure that it's true but it works for me.

[2016-03-08 10:10] Dream-Master commented on #9
@Techlone
Ok you right the Bronze Machines like Alloy smelter, E-Furnace and Marerator etc works with 32<EU reipe.
The Bronze Blast Furnace is different.

[2016-03-08 10:14] Techlone commented on #9
Oh, yes, the Bronze Blast Furnace...
Its recipes are hardcoded. I checked this some time ago and it upset me.

[2016-03-08 10:18] Dream-Master commented on #9
No problem for me and my Modpack I used a modded gt version so i change what i want to change;)

[2016-05-05 15:53] OneEyeMaker opened #10 "[1.4.0 beta] Broken handler for Mixer (problem with overriding of method?)"
Hello.
With GTTweaker 1.4.0 I can't add recipes for Mixer with fluids. For example, any of these recipes:
[code]
cause ```java.lang.Integer cannot be cast to net.minecraft.item.ItemStack```.

I guess, MineTweaker tries to run [this method](https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/blob/master/src/main/java/gttweaker/mods/gregtech/machines/Mixer.java#L50) instead of [that](https

[2016-05-05 19:27] Dream-Master commented on #10
@OneEyeMaker
1.4.0 is beta pushed by Techlone. Feel free to change code and send me a pull request.

[2016-05-05 20:33] Techlone commented on #10
My bad. Missed output arg. See #11

[2016-05-05 21:08] #10 closed

[2016-05-05 21:08] Dream-Master commented on #10
Thanks.

@OneEyeMaker

Can you try again please.

[2016-05-06 04:58] OneEyeMaker commented on #10
@Dream-Master
I tested build 21 (from Jenkins).
Works fine:
http://imgur.com/ZrbwoqU
Thank you!

[2016-05-06 10:37] OneEyeMaker opened #12 "[1.4.0 beta] Weird things with FluidSolidifier recipes."
Hello.
In version 1.4.0 GTTweaker adds FluidSolidifier recipes incorrectly:
1) All recipes doesn't contain output;
2) All recipes contain wrong amount of fluid (amount in script / 8);
3) In all recipes input doesn't get consumed, even if it should be.
Please, fix these problems.
Also, please, check all other handlers (for other GT machines) before publishing new (beta) version.

P. S. Sorry for my

[2016-05-06 11:16] Techlone commented on #12
Собственно, для этого и нужен бета тест :)
Во FluidSolidifier я чот вообще намудрил, ладно, проверю остальное.

[2016-05-06 11:46] Techlone commented on #12
@OneEyeMaker на счет п.2 и п.3 кинь скрипты.

[2016-05-06 12:34] OneEyeMaker commented on #12
@Techlone
[code]
// These scripts add recipes for Ender-Infused obsidian and Golden Glass from ExtraUtilities.

[2016-05-06 12:36] OneEyeMaker commented on #12
// And these scripts on v1.2.2 work correctly.

[2016-05-08 09:02] Techlone commented on #12
I can't test it now. See #13
@Dream-Master do not close this issue because I didn't fix p.2... I think.
@OneEyeMaker на счет неверного значения количества жидкости - даже не знаю, в чем причина. Протестирую как только смогу.

[2016-06-04 21:51] Dream-Master opened #14 "Ordictionary issue"
A user __LEXX__  report this error.

ore dictionary
Not sure if it's bug or a feature, but when i add recipe into the machine and raw materials using ore dictionary (<ore:dustCopper> * 9), the recipe comes up, but without taking amount into calculation. Takes 1 instead of 9. But if i am using straight up name of the item (<gregtech:gt.metaitem.01:2345> * 9) - the amount is correct.

@Techlone any

[2016-06-04 22:49] Techlone commented on #14
Yeah, it's a bug. I'll look it up tomorrow. However, I think it's already fixed but not sure.

[2016-06-04 23:11] Dream-Master commented on #14
Thanks

[2016-06-05 09:37] Dream-Master commented on #14
I compile a version with the new code and the user __LEXX__  said it is fixed now.

[2016-06-05 11:18] Techlone commented on #14
Nice :)

[2016-06-05 12:07] Dream-Master commented on #14
Ok i close it now and reopen it when the problem not gone.

[2016-06-05 12:07] #14 closed

[2016-06-05 12:07] Dream-Master commented on #12
@OneEyeMaker  Try 1.4.1

[2016-06-05 12:07] #12 closed

[2016-06-05 12:08] Dream-Master commented on #9
Ok close it now.

[2016-06-05 12:08] #9 closed

[2016-06-05 12:09] Dream-Master commented on #8
Will look into this again and check the code later.

[2016-06-05 12:09] Dream-Master commented on #4
try 1.4.1.

[2016-06-05 12:09] #4 closed

[2016-06-05 14:37] Techlone commented on #8
Not possible because it's [hardcoded](https://github.com/Blood-Asp/GT5-Unofficial/blob/experimental/src/main/java/gregtech/common/tileentities/machines/multi/GT_MetaTileEntity_HeatExchanger.java#L107-L116).
LHE don't use a recipe list so maybe @Blood-Asp will decide to change it someday :)
@Muramasa- do you want to add a recipe? What kind?

[2016-06-05 14:55] Muramasa- commented on #8
My use was the ability to heat steam with plasmas, but since this issue was posted I realized that it would have to create a crazy amount of steam and isn't really sensible.

You're welcome to close this since it's hardcoded and my use has turned to not make much sense :)

[2016-06-05 18:54] #8 closed

[2016-07-08 14:12] OneEyeMaker opened #15 "Broken handler for Plasma Arc Furnace."
Hello!
The title says it all. Your handler for Plasma Arc Furnace is broken: it ignores output fluid at all and tries to cast ```FluidStack``` to ```int[]``` (=> ClassCastException).

My script for Plasma Arc Furnace:
[code]

I guess you just need to add ```i.nextFluid()``` between ```i.nextItemArr()``` and ```i.nextIntArr()```.

Also, you should have two methods for Plasma Arc Furnace - one with

[2016-07-08 20:27] Dream-Master commented on #15
@Techlone

Any idea here ?

[2016-07-09 04:59] OneEyeMaker commented on #15
@Dream-Master
I know about this rewrite (I'm using GTTweaker-1.4.1).

[2016-07-09 06:36] Dream-Master commented on #15
@OneEyeMaker
Is the old version without Ordict support working?
I using custom Arc Furnace recipe and for me it is working.

[2016-07-09 09:08] OneEyeMaker commented on #15
@Dream-Master
Arc Furnace != Plasma Arc Furnace. These ones are different machines and have diffenet handlers in GT and GTTweaker. (Arc Furnace recipes work properly, Plasma Arc Furnace doesn't).
And I didn't try to test this bug with older version of GTTweaker.

[2016-07-09 09:22] Techlone commented on #15
Right.

I added overload with null fluidOutput.
#16

[2016-07-09 09:24] Dream-Master commented on #15
ok i add those code.

Thanks.

[2016-07-09 09:27] #15 closed

[2016-09-16 03:03] mightydanp opened #17 "Gregtech 1.10[informative]"
there is now a stable build for gregtech if you would like to update this mod

[2016-09-16 09:43] Dream-Master commented on #17
Not sure if and when.

[2016-09-16 15:15] mightydanp commented on #17
Theres a chat community that is helping with gregtech you could always see if one of them is interested in helping on porting it for you. One of them has there own modpack so im sure there going to need this.

[2016-09-16 15:18] mightydanp commented on #17
https://discord.gg/7qqsmX7

[2016-09-16 16:15] Dream-Master commented on #17
@mightydanp I am part of his group all ready so long it exists. I am out of time atm. Moveing my Home in 1 week have to take care my familie. So if you want to push code you are welcome or ask @Techlone maybe he can help here.

[2016-09-16 18:47] mightydanp commented on #17
Alright thank you @Dream-Master

[2016-09-16 21:13] Dream-Master commented on #17
Why you close it. Let it open so long I found Time to add this.

[2016-09-16 22:29] mightydanp commented on #17
sorry i was at work and i pressed the wrong button in a hurry

[2016-09-17 03:24] mightydanp commented on #17
I believe I got
Archengius to port it for you.

[2016-09-17 05:48] Dream-Master commented on #17
Yea would be nice. I will open up an new 1.10 branch for him.

[2016-09-23 23:57] DoughnutDev commented on #17
So I got a 1.10.2 version of mod to work. Not sure where to go from here. A few of the machines don't work yet but I think that is because of the GregTech mod itself.

[2016-09-24 07:38] Dream-Master commented on #17
@DoughnutDev Make a pull rwquest here.

[2016-09-24 13:03] DoughnutDev commented on #17
There you go. I hope I was helpful.

[2016-11-02 07:46] Dream-Master opened #22 "[Question] two outputs"
@Techlone

I try yur build with my scripts but it not works. Why all the recipes have two outputs because the error i have show something null.(second output slot)

For Expample this line:
https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/blob/master/src/main/java/gttweaker/mods/gregtech/machines/AlloySmelter.java#L33

or this:

https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-A

[2016-11-03 17:36] Techlone commented on #22
What scripts? attach please

These machines (smelter & assembler) has one solid output. What's a problem?

[2016-11-03 17:44] Dream-Master commented on #22
@Techlone Sure will send you the error log asap.

[2016-11-06 11:49] dalekin opened #23 "AssemblyLine.addRecipe don't work"
Error with this log:
Error executing scripts_1925618841: java.lang.Integer cannot be cast to net.minecraft.item.ItemStack

for this script (example. I test adding assembly line recipes):
[test.txt](https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/files/573795/test.txt)

gregtech-5.09.26
CraftTweaker-1.7.10-3.0.13
GTTweaker-1.7.10-1.4.3

[2016-11-06 12:07] Dream-Master commented on #23
Did you make a full recipe example because this ins't valid.

`mods.gregtech.AssemblyLine.addRecipe(aResearchItem, 144000, aInputs, aFluidInputs, aOutput, 600, 6000);`

[2016-11-06 13:01] dalekin commented on #23
Yes. I used the recipe in one line instead of the variables.
And I shared a recipe for certain variables only to realize that everything is in its place.
One line also give the error.
[code]

[2016-11-06 13:09] dalekin commented on #23
for example this also don't work
[code]
[Client thread/INFO]: [CHAT] ERROR: Error executing test.zs: java.lang.Integer cannot be cast to net.minecraft.item.ItemStack

[2016-11-06 16:05] Dream-Master commented on #23
@draknyte1 any idea?

[2016-11-06 16:09] draknyte1 commented on #23
Nope.. This addition I PR'd might not work AT ALL, as nobody tested it.

[2016-12-05 12:43] Techlone commented on #22
Actual?

[2016-12-05 12:54] Techlone commented on #23
Sorry about my magic with oredict. First argument in `AddMultipleRecipeAction` ctor is just description for logging.
Must be something like that
[code]

[2016-12-05 12:59] draknyte1 commented on #23
I've still never tested this.. So if I did something wrong I've got no idea..

Haven't looked back at this PR since that day I made it over lunch.

[2016-12-05 13:44] Dream-Master commented on #22
Sorry forgot it already never using the oredict version in my pack. Now I am in Holidays and new Year back.

[2016-12-08 17:13] ApokalypseStudios opened #24 "Chemical Reactor doesn't have EnergyUsage"
When making a recipe with the Chemical Reactor, it doesn't have a EnergyUsage field.
Every recipe with the Chemical Reactor will be at 32 eu/tick.

[2016-12-10 05:23] Dream-Master commented on #24
Old branch have it using version 1.1.1 but you dont have oredict support here.

http://forum.industrial-craft.net/index.php?page=Attachment&attachmentID=6304&h=03d86d350827be4300aec08ec603106b9cc31d24

https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/blob/old/src/main/java/gttweaker/mods/gregtech/ChemicalReactor.java

[2016-12-10 05:24] Dream-Master commented on #23
@draknyte1 , @Techlone
Any idea how to fix it?

[2016-12-10 05:25] #17 closed

[2016-12-10 11:35] Techlone commented on #23
@Dream-Master I said above how to fix it. I'll create a PR.

[2016-12-10 13:19] Dream-Master commented on #23
Sorry be in Holidays atm. Will merge your pull request. Thanks

[2016-12-10 13:32] #23 closed

[2016-12-10 13:32] #24 closed

[2016-12-12 13:01] ApokalypseStudios opened #27 "[Question] How remove machine recipes"
Hi! I'm using this mod for fixing some bugs in my modpack.
I changed some recipes but I don't know how to erase some existing recipes (for example: deuterium to tritium in centrifuge doesn't work if Mekanism is in the modpack) for only keeping my own recipes.

[2016-12-12 14:08] Techlone commented on #27
Open Recipes.cfg in GT's config folder. Find machine section and line with output of needed recipe. Set a number after equals sign to zero.

[2016-12-12 14:47] ApokalypseStudios commented on #27
I don't mean for disabling any machine. (sorry for my bad english)
I mean that disabling this recipe, for example:
In Centrifuge, you can turn 16 Deuterium into 4 Tritium (default recipe in Gregtech) at 80 EU/tick in 16 ticks

[2016-12-12 15:13] Techlone commented on #27
You need find machine section to determine recipe to be deleted. For your example you need find `centrifuge` section. There are curly brackets. After that find `I:deuterium_160=160` and replace with `I:deuterium_160=0`. Sometimes name of line is input ingredient sometimes it's output. Just try something and check it in the game.
What is your language?

[2016-12-20 04:34] Dream-Master commented on #27
can i clode this?

[2016-12-22 03:51] Ordpus opened #28 "[Question]Will there be a GT6Tweaker?"
Because I saw that you said you will use an advanced API instead of reflection to write a GT6Tweaker in the forum....

[2016-12-22 04:43] Dream-Master commented on #28
I seen some minetweaker Gt 6 addon in the ic2 Forum. I not planning to add gt6 support. @techlone is it possible add gt6 compatibility easy to the mod?

[2016-12-22 11:01] Techlone commented on #28
I don't know GT6's API. Maybe 'yes' maybe 'no'.
I will see dev version of GT6 and answer later.

[2016-12-25 02:19] Dream-Master commented on #28
Ok

[2016-12-27 15:46] Techlone commented on #28
I looked GT6 and didn't understand adding of recipes
I need more time or help)

[2016-12-27 15:47] Techlone commented on #27
it seems only you can)

[2016-12-27 16:03] Dream-Master commented on #27
K

[2016-12-27 16:05] Dream-Master commented on #28
Ok when I am back at 1.1.17 I can look into it.

[2016-12-29 15:05] #27 closed

[2017-01-16 15:57] BurovB opened #29 "[Question]If I want use GTtweaker I must use Crafttweaker?"

[2017-01-16 17:00] Techlone commented on #29
Ты можешь использовать или майнтвикер или крафттвикер, главное для 1.7.10

[2017-01-16 17:02] BurovB commented on #29
Но вы же делаете версию 1.10.2?

[2017-01-16 19:00] Techlone commented on #29
Версии для 1.10, так же как и для ГТ6, пока нет. Только ГТ5 и только 1.7.10

[2017-01-17 13:31] BurovB commented on #29
Я имею ввиду что у вас в разделе "Code", если посмотреть меню "Brach", видно что вы разрабатываете 1.10.2 версию.

[2017-01-17 14:03] Dream-Master commented on #29
Sorry I don't speak, read or understand russian.

[2017-01-17 14:11] Techlone commented on #29
@Dream-Master don't worry, I deal with him.
@BurovB я ответил на твой первоначальный вопрос? Думаю да, закрывай задачу.
Еще раз, чтобы использовать гттвикер можешь использовать или майнтвикер или крафттвикер, без разницы.

[2017-01-17 18:15] #29 closed

[2017-01-22 19:23] braeven opened #30 "GT Tweaker for 1.10.2"
Just like I was asked to:
Don't forget to build/test the GT-Tweaker version for the 1.10.2 version of GT 5U

[2017-01-22 19:29] Dream-Master commented on #30
k will do tomorrow hopfully.

[2017-01-25 03:23] mightydanp opened #31 "trouble porting over recipes"
im getting this error you might have changed it from the but im getting this.

log
http://pastebin.com/JA1ZW8Ya

script
http://pastebin.com/WKbBU5Z8

[2017-01-25 08:08] Dream-Master commented on #31
You need GTTweaker for it.

[2017-01-25 08:10] Dream-Master commented on #31
@mightydanp I got very spare info from you.

More infos please!

What version of Minetweaker /Crafttweaker you are using?
What version of GTTweaker you are using?
What version of Ender io und Gregtech you are using?

[2017-01-25 09:36] mightydanp commented on #31
CraftTweaker-1.10.2-3.0.17
GTTweaker1.10 latest in your github

im just having problems with adding recipes to the gregtech machines.
EnderIO-1.10.2-3.1.161
gregtech-5.10.34

.sorry for the bit of info i was ready to go to bed when i wrote this

[2017-01-25 10:04] Techlone commented on #31
[code]
GTTweaker 1.10 hasn't ore dict support. I don't know why.

[2017-01-25 12:40] Dream-Master commented on #31
@techlone maybe you can add it to 1.1.0

[2017-01-25 18:45] Techlone commented on #31
@DoughnutDev made port to 1.10 and he returned 'not ore dict' version of codebase
Let @DoughnutDev comment on it. I won't do unnecessary actions

[2017-01-25 18:53] Dream-Master commented on #31
ok

[2017-01-25 18:54] Dream-Master commented on #31
@DoughnutDev,

[2017-01-25 20:33] mightydanp commented on #31
Ah no ore dictionary yet ? That actualy really sucks

[2017-01-25 20:39] DoughnutDev commented on #31
@Techlone Where am I returning 'not ore dict'? Also this might just need an update with CraftTweaker and GregTech sense I ported this awhile ago.

[2017-01-25 20:47] Techlone commented on #31
@DoughnutDev I really can't understand what you did here
https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/commit/70cd47d09f84f19c57d25b592d6707d14100cba6

[2017-01-25 20:51] DoughnutDev commented on #31
You know what @Techlone it looks like the push to the GitHub repository messed up because I have the oredict stuff on my PC. I will fix it later.

[2017-01-25 23:54] mightydanp commented on #31
even if i changed the recipe to a non ore dictionary one they still do not work at all >.>

[2017-01-26 00:35] Techlone commented on #31
Log again please

[2017-01-26 05:05] mightydanp commented on #31
http://pastebin.com/10DCnEqf
minetweaker log

new script
http://pastebin.com/sFsWjaER

[2017-01-26 11:01] Techlone commented on #31
Assembler.addRecipe(<enderio:itemMaterial:5>, <minecraft:diamond>, <gregtech:gt.metaitem.01:9204> * 8, 600, 120);

It should be fine. Do you sure that script not works? Try to find and remove (if it exist) line in `config/GregTech/Recipes.cfg` in `assembling` section with its recipe output.
I can't reproduce bug right now.

[2017-01-26 12:51] mightydanp commented on #31
i just tested the recipe in game. nothing happens. It does not try to make the recipe at all

[2017-01-26 22:45] mightydanp commented on #31
ive done more testing. It needs to be updated with jei support. the recipes work but cannot see them.

[2017-02-02 05:34] mightydanp opened #32 "JEI Support"
Recipes dont show up in jei. Just a reminder ;).

[2017-02-02 09:44] Dream-Master commented on #32
Never worked with MC 1.10. Need help here @Techlone

[2017-02-02 12:08] Techlone commented on #32
https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/issues/31#issuecomment-275538094

[2017-02-02 12:13] Techlone commented on #32
@DoughnutDev push your local commits please.
After that we can talk about 1.10

[2017-02-21 22:22] DoughnutDev commented on #31
@Techlone Okay sorry it took so long but I am creating a pull request now and I just updated the libs and everything.

[2017-03-13 11:26] Techlone commented on #30
GT5U for 1.10 is very unstable. I suggest wait for the stable GT's release.

[2017-03-14 15:49] JasonMcRay commented on #32
@Techlone Sorry for tagging you, but just curious if there is anything that is being done with fix for JEI in 1.10 . I started fully my work on Infitech for 1.10 and it is bit annoying to not see the recipes in JEI. The recipes work, just not show up. I was taking a look at what Modtweaker did to fix that and i found that they did this: https://github.com/jaredlll08/ModTweaker/commit/94d69f8ba54a7

[2017-03-14 16:01] Techlone commented on #32
@JasonMcRay thanx maybe it will help.
But i say it again - GT 1.10 is unstable.
Do we really need to do something with GTTweaker 1.10 right now?

[2017-03-14 16:40] JasonMcRay commented on #32
I personally didn't had any hard issues with GT 1.10 so far. It is bit glitchy, true (maybe more than a "bit") but from my perspective I prefer working alongside the development. The best thing that mod devs can have are testers. And making a pack definitely helps iron out some bugs and giving out feedback.

So even with unstable mods, you can just work on stuff. I feel it is much better to start

[2017-03-15 11:41] DoughnutDev commented on #32
@JasonMcRay I will look into adding that in the code tonight that might actually help fix it because right now the  recipes adding all works but you just can't view it.

[2017-04-14 09:40] JasonMcRay commented on #32
@DoughnutDev Any progress on this? :) I would really love to be able to get InfiTech out fairly soon, but with this I cannot even push it to alpha testing, because of it :)

[2017-04-14 12:40] Techlone commented on #32
Now we have a problem with it. To tell the truth I don't know how to get a just added GT's recipe in code and therefore I can't add recipes in the runtime. Maybe on the weekend I'll look it again and try to resolve it.

[2017-04-14 14:07] Techlone commented on #32
Also my opinion is that GT should add its recipes into JEI by itself
@Blood-Asp

[2017-04-14 14:10] Techlone commented on #31
close

[2017-04-14 14:10] #31 closed

[2017-04-14 14:11] Techlone commented on #22
Any news?

[2017-04-14 14:15] Techlone commented on #30
GTTweaker 1.10 works but JEI still doesn't show script's recipes (see #32). I close this.
@braeven if you still have any questions/suggestions/troubles open new issue.

[2017-04-14 14:15] #30 closed

[2017-04-14 14:46] Techlone commented on #28
Found it. So, GTTweaker for GT6 will be.
But I think it should be another project cuz now it's Minetweaker-**Gregtech-5**-Addon
A switching between GTT for 5.09 and GTT for 5.10 is a pain and I don't want add a branch for GT6 (and GT6 for 1.10/1.11 in the future).

[2017-04-14 18:32] JasonMcRay commented on #31
In my opinion there is no need to have a direct oredictionary support in machines. All you need is just a loop to iterate through the items in oredictionary.
Example:
[code]

This will loop through the nuggetPusatingIron oredictionary and for each item in it it will add a recipe.

Also you can go little bit more indepth with multiple oredicts:
[code]

This will loop through both oredictionaries fo

[2017-04-14 19:43] Techlone commented on #31
@JasonMcRay
Exactly this I made. Look at https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/blob/1.10/src/main/java/gttweaker/mods/gregtech/AddMultipleRecipeAction.java

[2017-04-14 19:56] Techlone commented on #31
Oh misunderstood...
What do you mean "there is no need to have a direct oredictionary support in machines"?

[2017-04-14 20:13] Dream-Master commented on #22
@Techlone sadly not rn. But i will loock into it fror the next release of my Modpack. I let you know. And Thanks you take care here the issues.

[2017-05-01 20:27] Invincible92 opened #38 "[Suggestion/Idea] Adding support for GT++ machines"
Hi there

I'm opening this issue to know if it would be possible to add Minetweaker support (or something like that) to GT++, so we can add/modify recipes to our hearts content in its machines.

[2017-05-01 22:53] Techlone commented on #38
I guess it's possible
summon @draknyte1

[2017-05-02 07:58] draknyte1 commented on #38
What for?

[2017-05-02 10:24] Techlone commented on #38
Is it possible?

[2017-05-02 11:24] draknyte1 commented on #38
I assume so?
I have no idea how GTTweaker works, so I don't see why not.. I use the gt API or extended versions of the classes I need.

[2017-05-02 11:27] Techlone commented on #38
Can you tell me please where is this 'extended versions of the classes'?

[2017-05-02 11:29] draknyte1 commented on #38
Half my mod?
I extend many things, in many places..

What explicitly do you need to implement support? All machine recipes use the same code and classes gt does.

[2017-05-02 11:56] Techlone commented on #38
Specifically, I want to see how you add recipes for GT++ machines

[2017-05-02 17:35] Techlone commented on #38
Well I did it. @Dream-Master now you can make a release
And yes I know we need add wiki... ASAP

---
###### Any bugs possible

[2017-05-02 20:09] Dream-Master commented on #38
http://minetweaker3.powerofbytes.com/wiki/Mods:GregTech_Support

So i need to add the new content here.

[2017-05-02 22:37] Techlone commented on #38
[code]
I should remove `addLFTRRecipe` and `addFissionFuel`. They are not affected on the real LFTR behavior; just add NEI screen.

[2017-05-03 12:41] Techlone commented on #38
Done.

[2017-05-03 12:41] #38 closed

[2017-05-03 16:26] Invincible92 commented on #38
Sorry about the delay in answering, but I had a lot of experimental data to deal with from the lab.

Yes, the machines to which support would have to be added (as you did before this reply) would be the Blast Alloy Smelter, the Coke Oven, the Chemical Dehydrator and the Matter Fabricator.

[2017-06-19 15:51] Ethryan opened #39 "The Gregtech Assembling machine now has 6 item inputs"
Will this mod get an update to support all six inputs for the ordinary Assembler?

[2017-06-19 16:45] Dream-Master commented on #39
@Ethryan Yes you can now add Assembler recipe with 6 items and one fluid.

[2017-06-19 16:45] Dream-Master commented on #39
And this mod is Gregtech or did i not undertsand the Quiestion? @Ethryan

[2017-06-19 16:48] Ethryan commented on #39
problem is i can't get it to work with in New Horizons when i try

[2017-06-19 16:57] Dream-Master commented on #39
Oh no this is not added yet. I can add it via code not via minetweaker. But me or Technolone can implement ist when the version is ready.

[2017-06-20 16:00] Techlone commented on #39
This increasing of assembler inputs is on a PR stage - https://github.com/Blood-Asp/GT5-Unofficial/pull/1100.
When GT released with this PR I will add a new method for 6 inputs or even an array of inputs like it's done for CircuitAssembler.

[2017-06-20 16:07] Dream-Master commented on #39
@Techlone thanks in advance

[2017-06-20 17:06] Ethryan commented on #39
I spent a few hours going over the code of this addon, but when i entered the [GTTweaker.java](https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/blob/master/src/main/java/gttweaker/GTTweaker.java) file, i couldn't find the [CircuitAssembler.class](https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/blob/master/src/main/java/gttweaker/mods/gregtech/machines/CircuitAssembler.ja

[2017-06-20 17:41] Techlone commented on #39
Damn, true.
All machines added in recent versions have been not registered. *facepalm*
Fixing...

[2017-06-20 17:51] Techlone commented on #39
Done.
Also we found out this bugs only now. Nobody uses new GTTweaker features -_-

[2017-06-21 09:37] MineWitherMC opened #40 "Circuit Assembler"
Whenever I create circuit assembler recipes it says that input item is minetweaker.api.item.IIngredient and cannot be cast to net.minecraft.item.ItemStack. Example:
`mods.gregtech.CircuitAssembler.addRecipe(<gregtech:gt.metaitem.03:32035>, [
	<gregtech:gt.metaitem.01:2324>, <gregtech:gt.blockmetal6:7>
], <liquid:argon> * 1000, 100, 100);`
Output:
`ERROR: Error executing script.zs: [Lminetweaker.ap

[2017-06-21 10:14] Techlone commented on #40
Nope. The bug is deeper. Sorry but can't fix it right now.

[2017-06-23 16:08] Techlone commented on #40
Fixed.

[2017-06-23 16:08] #40 closed

[2017-07-27 14:50] YoungGT opened #41 "Can't REMOVE the recipes"
Hello. I'm a modpack author. When I was editing a modpack with GTTweaker,I found GTTweaker couldn't remove GregTech's recipes.It doesn't work. So I went to the MineTweaker Wiki for help. It says "Each of these handlers can have recipes added or **removed**",but I found NOTHING about removing recipes given. Everything is about adding.I have already looked through GTNH's scripts.So can you create a

[2017-07-27 15:24] YoungGT commented on #41
I'm sorry that GregTech can remove recipes by itself,sorry to have delayed your time.You can close it now.

[2017-07-27 15:30] Techlone commented on #41
You can change gregtech\Recipes.cfg file. It contains almost all recipes. Find out a machine section then an output of recipe that you want to remove in this machine section and set this value to zero.

[2017-07-27 15:30] #41 closed

[2017-08-01 16:27] Invincible92 commented on #28
I'm sorry to ask, but is there any news about the GT6 version? The mod that currently exists (MTUtils) hasn't been updated from a while (since March) and the methods do not function correctly.

[2017-08-01 16:50] Dream-Master commented on #28
@Invincible92 best Chance you had write a small custom mod and add recipes via java and gt6 Api. Not too complicated I guess.

[2017-08-03 13:35] Ethryan commented on #39
Any news on the array update for this plugin?

[2017-08-03 17:57] Techlone commented on #39
@Ethryan GT 31 is still at the `pre` stage. GT 30 doesn't have the assembler with six inputs.

[2017-08-03 18:08] Techlone commented on #28
If MTUtils already does GTTweaker work for GT6 I think it will be better to develop MTUtils further.
@LionZXY is an author of MTUtils right? Hey @LionZXY will you update your mod?

[2017-08-03 18:10] Dream-Master commented on #39
The mixer have now 6 slots too so more stuff to do :)

[2017-08-03 18:14] LionZXY commented on #28
Oh. Can you describe what i must do in issue?
https://github.com/LionZXY/MTUtils/issues

[2017-08-03 19:57] Techlone commented on #28
@LionZXY well I don't exactly what you should implement but @Invincible92 said `the methods do not function correctly`
@Invincible92 so if you have some additions or bug reports for MTUtils go to the its bug tracker.

As a result I suggest don't do GTTweaker for GT 6 cuz [it already exists](https://github.com/LionZXY/MTUtil).
Closed.

[2017-08-03 19:57] #28 closed

[2017-08-03 19:58] Dream-Master commented on #28
https://github.com/LionZXY/MTUtils

[2017-08-03 20:01] Techlone commented on #39
Well maybe an using the pre versions is not too bad.
Wait for the weekend.

[2017-08-03 20:02] Techlone commented on #28
fixed :)

[2017-08-03 20:11] Dream-Master commented on #39
sure

[2017-08-06 14:45] #39 closed

[2017-08-06 14:50] Techlone commented on #39
To add a recipe that uses more than two slots write this
[code]
`fluidInput` can be null

[2017-12-05 00:24] MoXiaoFreak opened #43 "GT Tweaker Uses Old IC2 Compressor(and Other Old Machines?)"
I've reported this in your another repo.

[Here](https://github.com/Dream-Master/Mods-Get-Gregged/issues/16#)

And that causes some items **uncraftable** in GTNH modpack.
Having Fixed yet?

[2018-02-18 11:23] Invincible92 opened #44 "Machine update methods"
Hi there

The following machines seem to need an update in the method of adding recipes:

- Chemical Reactor (now supports 2 item outputs + 1 fluid output; before 1 item output + 1 fluid output)

- Oil Cracking Unit (accepts another fluid to perform the cracking process besides the oil input, as steam or hydrogen, for example)

- Bricked Blast Furnace (seems that with @JohannesGaessler update, the

[2018-02-18 13:00] Dream-Master commented on #44
I not realy developing on this mod anymore. If somone maje a pull request I will merge it.

[2018-02-18 15:33] Techlone commented on #22
Reopen if needed

[2018-02-18 15:33] #22 closed

[2018-02-18 15:34] Techlone commented on #32
Not actual

[2018-02-18 15:34] #32 closed

[2018-02-18 15:37] Techlone commented on #43
GT Tweaker doesn't support IC2 machines directly (`mods.ic2.Compressor`). GTT uses GT's API.

[2018-02-18 15:37] #43 closed

[2018-02-18 15:46] Techlone commented on #44
@Invincible92 which version of GT? 32pre?

[2018-02-18 16:52] Dream-Master commented on #44
@Techlone use lastes source https://github.com/GTNewHorizons/GT5-Unofficial

[2018-02-18 17:10] Invincible92 commented on #44
@Techlone I'm using .32pre3, but this changes seem to be added since the .32 release. Also, I opened an issue in the GT5u GitHub about the functionality of the EBF with a fluid output hatch, so it seems that the fluid output can be tweaked too, so it could be another one to add to the list.

I leave here the conversation link of the GT5u issue: https://github.com/Blood-Asp/GT5-Unofficial/issues/14

[2018-02-18 18:15] Techlone commented on #44
@Invincible92 test it if you can please, changes you can see here https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/commit/1df5e81d317bfdbb61a390576154f2d09f497dda
https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/releases/tag/1.7.0
If all will be fine close the issue

[2018-04-01 11:12] FuYang001 opened #45 "Wiki page update"
Now, GTTweaker has added much stuff, like new methods and new machine supports, but the wiki page isn't changed since 10 February 2016, which date the page was last modified. So, could you add the new contents someday? otherwise people can only found the methods from the codes. Well, or just using external tweaker, but I think wiki is important indeed to this mod if you want more people know it.

[2018-11-28 13:37] yukieiji opened #46 "Can not register assemble recipe that uses 3 slot or more than."
I tried to add a recipe to assembler that use 3 slot but I could not.
Environment:GT New Horizon ver2.0.6.0, GregTech 5.09.33.03, GTTweaker-1.7.10-1.7.0

[2018-11-28 20:38] Techlone commented on #46
You have to pass an array https://github.com/GTNewHorizons/Minetweaker-Gregtech-5-Addon/blob/master/src/main/java/gttweaker/mods/gregtech/machines/Assembler.java#L47
`addRecipe(<out>, [<in1>, <in2>, <in3>, <in4>], ...)`

[2018-11-28 20:38] #46 closed

[2018-11-28 20:38] Techlone commented on #44
Out of date

[2018-11-28 20:38] #44 closed

[2019-01-02 16:22] Invincible92 commented on #44
Hi there

I'm truly sorry to bring this, but could it be possible to add, as the final update version of GTTweaker for 1.7.10, these 2 methods?

-  Large Chemical Reactor support (nowadays there is no method for adding a recipe)

- Single-block Distillery item output (some recipes include an item as output)

There is a lot of people that still use the GT5u version of GT (instead of using the avail

[2019-01-03 15:38] Dream-Master commented on #44
This item output is only happend in code and very hacky so i cant give support for it.

The LCR can be added i guess. Not sure if i can do it but i will try.

[2019-02-18 00:02] UnlimatedStone9 opened #47 "[Blast Furnace] Recipes do not work"
Hey there, I was having an issue with the blast furnace, I created recipes for the blast furnace which did in fact display in NEI however the recipes themselves do not appear to work

This is an example of one recipe

mods.gregtech.BlastFurnace.addRecipe([<terrafirmacraft:item.Wrought Iron Ingot>], null, [<tfcm:item.IronDust> * 10], 2000, 1, 10);

I also tried to use this one here requiring oxygen

[2019-02-18 16:44] Dream-Master commented on #47
recipes with duplicate material use in another recipe wont work. Why not add a control circuit that not get consumed. I add a bunch of recipes with a controlcircuit * 0

[2019-02-18 23:00] UnlimatedStone9 commented on #47
I assume you mean because the material I have set as the input is already used as an input it won't add my recipe?
I don't believe all of the recipes I tried were in fact used already but I'll give you the benefit of the doubt because of oredictionaries

Could you present an example of a recipe using a controlcircuit? I'm not entirely sure what you mean

[2019-02-18 23:15] UnlimatedStone9 commented on #47
Oh I think I know what you mean, if there is only one input or output add an * 0 or * 1 for the item, so like
<terrafirmacraft:item.Wrought Iron Ingot> * 1   ???

[2019-02-19 07:19] Dream-Master commented on #47
no if it is 1 let it like it is if it be 0 it will not consumed.

[2019-02-19 07:20] Dream-Master commented on #47
and yes allready used items in input slot can't be used again. Use two items like the iron and a not consumed circuit.

[2019-02-19 07:21] UnlimatedStone9 commented on #47
So the circuit is an item that has not been used in a blast furnace recipe at all?

[2019-02-19 07:22] UnlimatedStone9 commented on #47
If so that is fine, I will look into it again, perhaps my items are used in a recipe already, thanks!

[2019-02-23 17:16] UnlimatedStone9 commented on #47
Regardless of what I try to do I cannot add any recipes to the blast furnace

[2019-03-10 08:55] HoleFish opened #48 "add recipe for gt++ Industrial machines"
Hello.I added recipes for GT machines(such as centrifuge),and I found they do not seem to work in the Industrial one(at least not in NEI).I dont know if the method have been added.So can you tell us how to do?Thanks.

[2019-03-10 09:00] Dream-Master commented on #48
You need to be more specific. How can I know what recipe you added? @HoleFish

[2019-03-10 09:10] HoleFish commented on #48
example:
mods.gregtech.Centrifuge.addRecipe([<gregtech:gt.metaitem.01:30013> * 13, <gregtech:gt.metaitem.01:30012> * 50, <gregtech:gt.metaitem.01:30496>], null, <gregtech:gt.metaitem.01:30495> * 64, null, null, [10000,10000,10000], 1230, 5);
//a new recipe to centrifuge air
but I dont know how to make it work in the industral one in liquid or another form.

[2019-03-10 11:51] Dream-Master commented on #48
gregtech:gt.metaitem.01:30013   google translater not working :) (if you want help just write down what 30013 is thanks)

The problem is that when a recipe exist you cant use the same ingredients in a second recipe.
Go to gt config folder and search for the recipe in the recipe config file and set it to =0
Then add a new one with different time and eu/t

[2019-03-16 00:32] HoleFish commented on #48
e...30013 here is oxygen cell.
I mean that let recipes work in the multiblock (industrial centrifuge,large chem reactor and so on)

[2019-03-16 18:54] UnlimatedStone9 commented on #47
Hey there Dream-Master, sorry to bother you again but I'm still having issues adding recipes to the blast furnace in "GregTech 5 Unofficial, 0.9.031, 1.7.10"

I have tried to use this recipe here:

mods.gregtech.BlastFurnace.addRecipe([<terrafirmacraft:item.HC Steel Ingot>, <gregtech:gt.metaitem.01:815>, <gregtech:gt.integrated_circuit> * 0], <liquid:oxygen> * 1000, [<terrafirmacraft:item.Pig Iron

[2019-05-20 15:39] #47 closed

[2019-05-20 15:44] UnlimatedStone9 opened #49 "Pyrolyse Oven Recipes"
I cannot seem to get any Pyrolyse Oven recipes to work as I want, they don't work and I don't understand why
This is the best I could come up with as recipes, based on the template on GitHub but it doesn't work, could you help me?

mods.gregtech.PyrolyseOven.addRecipe([<terrafirmacraft:item.coal:1> * 2, <liquid:creosote> * 1000], <gregtech:gt.integrated_circuit>, [<advancedRocketry:tile.charcoallo

[2019-05-20 15:45] UnlimatedStone9 commented on #49
A snipping of the recipe because GitHub likes to hide <>
![image](https://user-images.githubusercontent.com/40124890/58034541-b5bfec00-7b1e-11e9-86de-05279a81ac4d.png)

[2019-05-30 12:20] Pilad commented on #49
mods.gregtech.PyrolyseOven.addRecipe(<minecraft:coal:1>*20, <liquid:creosote>*2000 , 0, <minecraft:log:1> * 16, null, 200, 64);
0- circuit number
null - input fluid

[2019-09-17 00:38] observeroftime02 opened #50 "Adding better support for chem reactor recipes."
Currently it is not possible to add two output items to a chem reactor recipe. At least I think.

Can support for this be added?

[2020-01-04 18:16] Ubus99 opened #52 "Recipes working on client but not server"
I created some recipes in singleplayer, but when transferred to the server, one of the recipes stopped working.

Recipe:
# CREATED USING EXTERNAL TWEAKER
mods.gregtech.ImplosionCompressor.addRecipe(<ExtraPlanets:tier4Items:4>, <ore:plateCarbon> * 2, 1);

Log:
INFO: [Stuck] Adding Implosion compressor recipe for <ExtraPlanets:tier4Items:4>

Why isn't this working? Is GTTweaker faulty or am I using

[2020-01-04 18:49] Dream-Master commented on #52
Gt recipes need a new server start to show up. Same for clients.

[2020-01-04 19:01] Ubus99 commented on #52
Did that already, didn't help

[2020-01-04 19:09] Dream-Master commented on #52
Maybe some of the intputs or outputs interfear with an existing recipe thats why not shown bu tnormaly when it works in sp it works in mp too.

[2020-01-04 19:11] Ubus99 commented on #52
now what?

[2021-05-16 14:30] apk-modpack opened #57 "how to remove recipes?"
I'm trying to disable a specific recipe to replace it with another one, but when I put the energy at 0 in the Gregtech/Recipes config file and add a script to replace, it doesn't appear. The recipe is the same (energy consumption, duration, ....) but I changed one item. What could be wrong?

[2021-05-16 14:31] Glease commented on #57
Use a slightly different EU/t, e.g. change 120 into 119 or something.

[2021-05-16 19:21] apk-modpack commented on #57
ok, I tried it and it worked. thank you!

[2021-05-16 19:22] #57 closed